<template>

    <div class="chat mychat searcher-list">
        <div tabindex="1" class="chat-body" style="overflow: hidden; outline: none; touch-action: none;">

                <chat-messages-component></chat-messages-component>

        </div>
        <chat-form-component></chat-form-component>
    </div>

</template>

<script>

    export default {}
</script>
