<template>
    <div class="chat-footer">
        <form class="form">
            <div class="form-buttons">
                <button type="button" class="btn btn-light btn-floating"><i class="fa fa-paperclip"></i></button>
<!--                <button type="button" class="btn btn-light btn-floating"><i class="fa fa-microphone"></i></button>-->
                <button type="submit" class="btn btn-primary btn-floating"><i class="fa fa-send"></i></button>
            </div>
            <input type="text" placeholder="تایپ کنید .." aria-label="Recipient's username"
                   aria-describedby="button-addon2" class="form-control setrtl" @keydown="typing"
                   v-model="body">

        </form>
    </div>
</template>

<script>

    import Event from '../event.js';


    export default {
        data() {
            return {
                body: null
            }
        },
        methods: {
            typing(e) {
                if (e.keyCode === 13 && !e.shiftKey) {
                    e.preventDefault();
                    this.sendMessage();
                }
            },
            sendMessage() {
                if (!this.body || this.body.trim() === '') {
                    return
                }
                let messageObj = this.buildMessage();
                Event.$emit('added_message', messageObj);
                axios.post('/message', {
                    body: this.body.trim()
                }).catch(() => {
                    console.log('failed');
                });
                this.body = null;
            },
            buildMessage() {
                // alert('sdff');
                var d = new Date();

                return {
                    id: Date.now(),
                    body: this.body,
                    selfMessage: true,
                    jdate : d.toLocaleTimeString(),
                    user: {
                        name: Laravel.user.name
                    }
                }
            }
        }
    }
</script>

<style>
    .form {
        padding: 8px;
    }

    .form-input {
        width: 100%;
        border: 1px solid #d3e0e9;
        padding: 5px 10px;
        outline: none;
    }

    .notice {
        color: #aaa
    }

</style>
