<template>
    <div class="messages list" ref="message">
        <message-component
            v-for="message in messages"
            :key="message.id"
            :message="message">
        </message-component>
    </div>
</template>

<script>

    import Event from '../event.js';

    export default {
        data() {
            return {
                messages: []
            }
        },
        mounted() {
            axios.get('/message').then((response) => {
                this.messages = response.data;

            });
            Event.$on('added_message', (message) => {
                this.messages.push(message);
                console.log(this.messages);
                var chat_body = $('.layout .content .chat .chat-body');
                if (chat_body.length > 0) {
                    setTimeout(function () {
                        $(chat_body).css('overflow','auto');
                        $(chat_body).getNiceScroll().resize();
                        $(chat_body).css('overflow','hidden');
                        chat_body.scrollTop(chat_body.get(0).scrollHeight+200, -1).niceScroll({
                            cursorcolor: 'rgba(66, 66, 66, 0.20)',
                            cursorwidth: "4px",
                            cursorborder: '0px'
                        }).resize();
                    }, 300);

                }
                if(message.selfMessage) {
                    // this.$refs.message.scrollTop = 0;
                }
            });
        }
    }
</script>
<style>
    .message-area {
        height: 400px;
        max-height: 400px;
        overflow-y: scroll;
        padding: 15px;
        border-bottom: 1px solid #eee;
    }
</style>
