<template>
    <div class="message-item " :class="{ 'outgoing-message': message.selfMessage }">
        <div class="message-user">{{ message.user.name }}  : </div>
        <div class="message-content" data-sort="message-content">{{ message.body }}</div>
        <div class="message-action my">{{ message.jdate }}
            <i class="ti-double-check"></i></div>
    </div>
</template>

<script>

    export default {

        props: ['message']
    }
</script>

<style>
    .user {
        font-weight: 800;
    }
    .body {
        margin-bottom: 0;
        white-space: pre-wrap;
    }
    .message {
        border-bottom: 1px solid #000000
    }
    .self {
        background-color: #f0f0f0;
        padding: 10px;
    }
</style>
