<template>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" v-for="user in users" :key="user.id">
            <div>
                <figure class="avatar">
                    <img src="/media/img/women_avatar5.jpg" class="rounded-circle">
                </figure>
            </div>
            <div class="users-list-body">
                <h5>{{ user.name }}</h5>
                <p>مهارت آموز</p>
                <div class="users-list-action action-toggle">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#">
                            <i class="ti-more"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">Open</a>
                            <a href="#" data-navigation-target="contact-information"
                               class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Add to archive</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>


    </ul>
</template>

<script>

    import Event from '../event.js';

    export default {

        data() {
            return {
                users: []
            }
        },

        mounted() {
            Event.$on('users.here', (users) => {
                this.users = users;
                console.log('fdsf');
            })
            .$on('users.joined', (user) => {
                this.users.unshift(user);

                console.log('fdsf');
            })
            .$on('users.left', (user) => {
                this.users = this.users.filter(u => {
                    return u.id != user.id

                    console.log('fdsf');
                });
            });
        }
    }
</script>

<style>
    .users {
        background-color: #fff;
        border-radius: 3px;
    }
</style>
