@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 100;
    src: url("fontfa/Yekan Bakh EN 01 Hairline.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 01 Hairline.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 01 Hairline.ttf?v=970802") format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 200;
    src: url("fontfa/Yekan Bakh EN 02 Thin.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 02 Thin.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 02 Thin.ttf?v=970802") format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url("fontfa/Yekan Bakh EN 03 Light.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 03 Light.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 03 Light.ttf?v=970802") format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url("fontfa/Yekan Bakh EN 04 Regular.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 04 Regular.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 04 Regular.ttf?v=970802") format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url("fontfa/Yekan Bakh EN 05 Medium.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 05 Medium.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 05 Medium.ttf?v=970802") format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: url("fontfa/Yekan Bakh EN 06 Bold.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 06 Bold.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 06 Bold.ttf?v=970802") format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url("fontfa/Yekan Bakh EN 07 Heavy.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 07 Heavy.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 07 Heavy.ttf?v=970802") format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 800;
    src: url("fontfa/Yekan Bakh EN 08 Fat.eot?v=970802");
    src: url("fontfa/Yekan Bakh EN 08 Fat.woff?v=970802") format("woff"), url("fontfa/Yekan Bakh EN 08 Fat.ttf?v=970802") format("truetype")
}

body {
    font-family: "YekanBakh" !important;
}

.layout .content .sidebar-group .sidebar {
    width: 410px;
}


body.dark .layout .content .chat .chat-body .messages .message-item .message-content {
    background-color: #272935;
}

.chat.mychat {
    height: 100%;
    padding: 3%;
}

.sidebar-body.chat {
    padding: 3%;
}

body.dark .layout .content .chat .chat-footer form {
    background-color: #5a5c66;
}

.setrtl {
    direction: rtl;
    text-align: right;
}


.layout .content .chat .chat-header .chat-header-user figure {
    margin-left: 1rem;
    margin-right: 0px;
}


.h_iframe-aparat_embed_frame {
    position: relative;
}

.h_iframe-aparat_embed_frame .ratio {
    display: block;
    width: 100%;
    height: auto;
}

.h_iframe-aparat_embed_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.h_iframe-aparat_embed_frame iframe {
    border: 0px;
    /* border-radius: 13px; */
    /* box-shadow: inset 0 0 19px 19px black; */
}

.h_iframe-aparat_embed_frame {
    border-radius: 10px;
    overflow: hidden;
    background: #272935;
    margin: 23px 0px;
}

.outgoing-message .message-user {
    direction: rtl;
    text-align: right;
    margin-right: 4px;
    font-weight: 600;
}

.message-action.my {
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 14px;
    text-align: right;
    align-items: center;
}

.message-action.my i {
    margin-left: 6px;
}

.logo img {
    width: 43px;
}
